/* General Formatting */
*{
    font-family: "Genos";
    background-color: #2B292D;
    color: #ffffff;
}

h1, h2{
    font-family: "Genos";
}
p{
    font-family: "Karla";
    font-weight: 400;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    gap: 48px;
}
section h2 {
    font-size: 64px;
    font-weight: 700;
}
section h3{
    font-size: 48px;
    font-weight: 400;
}
.heading, .content{
    position: relative;
    width: 50%;
    left: 25%;
    display: flex;
    flex-direction: column;
}
.heading {
    align-items: center;
    text-align: center;
}
.content{
    width: Fill(1,920px);
    height: auto;
    gap: 48px;
}

/* Heading & Nav */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #2B292D;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 2.5em;
    align-items: center;
}
header.scrolled {
    background: #2B292D;
    border-bottom: 1px solid rgba(35, 16, 41, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}
header a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
}
#navlist{
    display: flex;
    list-style-type: none;
    gap: 35px;
    float: right;
    padding: 2px 20px 2px 20px;
}
#navlist a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
} 
#navlist li .viewing {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.nav li:last-child{
    display: none;
}
#navlist .navburger{
    /* all: unset; */
    background-color:inherit;
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

#title{
    padding: 24px 0 24px 20px;
}

/* Home Section */
#countdown {
    height: 95vh;
    background-color: #2B292D;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 15%;
}
#countdown p{
    font-size: 10em;
    font-weight: 800;
}
.countdown-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
 .countdown-text h1:nth-of-type(2){
   transform: translateY(-40px);
 }

/* About Section */
#about{
    /* background-color: rgba(243, 207, 225, 0.478); */
}
#abtme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#abtme img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
#abtlists{
    display: flex;
    flex-direction: row;
}


/* Experience Section */
#exp .button{
    padding: 2%;
    border: none;
}
#langlists{
    display: flex;
    flex-direction: row;
}


/* Projects Section */
#projects{
    /* background-color: rgba(243, 207, 225, 0.479); */
}
.tools{
    display: flex;
    gap: 25px;
}
.button{
    /* background-color: rgba(192, 19, 100, 0.61); */
    background-color: #cc3e80;

    border-width: .5px;
    border-radius: 9999px;
    color: #ffffff;

    width:max-content;
    height: min-content;

    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.button:hover, .button:focus{
    background-color: rgb(190, 19, 99);
}
.content-heading{
    display: flex;
    gap: 25px;
    align-items: center;
}
.content-heading i{
    color: #303030;
    margin-bottom: 16px;
}
.content-heading i:hover{
    color: rgb(190, 19, 99);
}
.content-heading i:focus{
    color: rgb(190, 19, 99);
}


/* Contact Section */
#contact .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email, #github, #linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactlink a{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    color: #303030;
    text-decoration: none;
}
.contactlink p{
    text-decoration: underline;
}

#contact .content a:hover,
#contact .content a:focus{
    color:rgb(192, 19, 100);
}


/* .contactlink{
    display: flex;
    flex-direction: column;
}
#email, #github, #linkedin{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items:center;
    justify-content: space-between;

} */

/* #contact .container li{
    list-style: none;
    margin: 0;
    padding: 0;
} */
/* #contact .container a{
    color: #303030;
}
#contact .container a:hover,
#contact .container a:focus{
    color:rgb(192, 19, 100);
}
#contact .content{
    display: flex;
    flex-direction: column;
    align-content: center;
} */


/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 34px 96px;
    /* padding: 1%; */
    background-color: rgb(192, 19, 100);
}

footer p{
    font-size: larger;
    color: #ffffff;
    font-family: "Gayathri", sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
}

footer #footerlinks {
    display: flex;
    gap: 24px;
}
  
  footer #footerlinks i {
    color: #ffffff;
    font-size: 24px;
}

/* @media (max-width: 1500px) {
    .section-heading,
    .section-details {
        width: 70%;
        left: 15%;
    }
} */

  @media (max-width: 1000px) {
    .heading,
    .content {
      width: 70%;
      left: 15%;
    }
    .home-heading {
        width: 70%;
        left: 10%;
    }
    #favicon{
        right: 10%;
    }
  }
  @media (max-width: 800px) {
    #home{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .home-heading{
       text-align: center;
       left:0;
       padding:0;
    }
    #favicon{
        right: 0;
        padding: 0;
    }
  }
  @media (max-width: 700px){
    .nav li:not(:last-child) {
        display: none;
    }
    .nav li:last-child{
        display: contents;
    }
  }
  @media (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive li.navburger {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  /* TODO: make navburger work */