/* General Formatting */
*{
    font-family: "Genos";
    background-color: #3f235e;
    color: #ffffff;
}

h1, h2{
    font-family: "Genos";
}
p{
    font-family: "Karla";
    font-weight: 350;
    font-size: 30px;
}

section::before{ 
  display: block; 
  content: " "; 
  scroll-margin-top: 50px; 
  /* height: 50px;  */
  visibility: hidden; 
}
section {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    gap: 48px;
}
section h2 {
    font-size: 86px;
    font-weight: 700;
}
section h3{
    font-size: 48px;
    font-weight: 400;
}
.heading, .content{
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.heading {
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}
.content{
    /* width: Fill(1,920px); */
    height: auto;
    gap: 48px;
}

/* Heading & Nav */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #3f235e;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 2.5em;
    align-items: center;
}
header.scrolled {
    background: #3f235e;
    border-bottom: 1px solid rgba(35, 16, 41, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}
header a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
}
#navlist{
    display: flex;
    list-style-type: none;
    gap: 35px;
    float: right;
    padding: 10px 20px 0px 20px;
}
#navlist a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
} 
#navlist li .viewing {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.nav li:last-child{
    display: none;
}
#navlist .navburger{
    /* all: unset; */
    background-color:inherit;
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}
#navlist #li-home a:hover {
    color:#b19eec
}
#navlist #li-art a:hover {
    color:#f9e8ce
}
#navlist #li-about a:hover {
    color:#b5e1ea
}
#navlist #li-us a:hover {
    color:#e49c9d
}

#title{
    padding: 10px 0px 10px 20px;
    font-size: 64px;
    display:flex;
    align-items: center;
    gap: 5px;
}

/* Home Section */
#countdown {
    height: 95vh;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 15%;
}
#countdown p{
    font-size: 10em;
    font-weight: 800;
}
.countdown-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background:none;
}
 .countdown-text h1:nth-of-type(2){
   transform: translateY(-40px);
 }

/* About Section */
#about{
    /* background-color: rgba(243, 207, 225, 0.478); */
}
#abtme {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}
#abtme img{
    height: 600px;
    width: auto;
    border-radius: 100%;
    position: relative;
    right: 5%;
}
#abtme p:nth-of-type(1){
   padding-bottom: 30px;
   font-weight: 600;
   font-size: 30px;
 }
 #abtme p{
  position:relative;
  width: 120%;
  right: 20%;
 }


 #us .content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 80px;
 }


/* Art Slideshow */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 34px 96px;
    
    border-bottom: 1px solid rgba(35, 16, 41, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}

footer p{
    font-size: larger;
    color: #ffffff;
    font-family: "Gayathri", sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000000;
}

footer #footerlinks {
    display: flex;
    gap: 24px;
}
  
  footer #footerlinks i {
    color: #ffffff;
    font-size: 24px;
}

/* @media (max-width: 1500px) {
    .section-heading,
    .section-details {
        width: 70%;
        left: 15%;
    }
} */

  @media (max-width: 1000px) {
    .heading,
    .content {
      width: 70%;
      left: 15%;
    }
    .home-heading {
        width: 70%;
        left: 10%;
    }
    #favicon{
        right: 10%;
    }
  }
  @media (max-width: 800px) {
    #home{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .home-heading{
       text-align: center;
       left:0;
       padding:0;
    }
    #favicon{
        right: 0;
        padding: 0;
    }
  }
  @media (max-width: 700px){
    .nav li:not(:last-child) {
        display: none;
    }
    .nav li:last-child{
        display: contents;
    }
  }
  @media (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive li.navburger {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  /* TODO: make navburger work */